@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(240, 240, 240);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}